<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>User Dashboard</title>
        <link rel="stylesheet" href="/static/default.css" />
        <link rel="stylesheet" href="/static/dashboard.css" />
        <script type="module" src="/static/dashboard.js"></script>
    </head>
    <body>
        <%- include("../components/header.ejs") %>
        <div id="background"></div>
        <dialog id="link_dialog">
            <h2>Link Account</h2>
            <label for="atcoder_account">AtCoder Account:</label>
            <input id="atcoder_account" type="text" value="<%= user.linkedAtCoderUserId ? atcoder.name : '' %>" /><br />
            <button id="link_button">Link!</button> or <button id="close_button">Close</button>
        </dialog>
        <div id="main">
            <h1>Dashboard</h1>
            <table>
                <tr>
                    <th>Key</th>
                    <th>Value</th>
                    <th>Advance</th>
                </tr>
                <tr>
                    <td>Linked &#x1d54f; Account</td>
                    <td>
                        <% if (user.twitterOAuthUsername) { %><a target="_blank" href="https://x.com/<%= user.twitterOAuthUsername %>"
                            >@<%= user.twitterOAuthUsername %></a
                        ><% } else {%>(NULL)<% } %>
                    </td>
                    <td>
                        <a target="_blank" href="/twitter/">Link Account</a>
                    </td>
                </tr>
                <tr>
                    <td>Linked AtCoder Account</td>
                    <td>
                        <% if (user.linkedAtCoderUserId) { %><a target="_blank" href="https://atcoder.jp/users/<%= atcoder.name %>"><%= atcoder.name %></a><% }
                        else {%>(NULL)<% } %>
                    </td>
                    <td>
                        <button id="link_atcoder_account">Link Account</button>
                    </td>
                </tr>
            </table>
        </div>
    </body>
</html>
